# VSCode
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc[cod]

# Build
build/*

#tmp
tmp/*
temp_*/*
*/temp_*/*

# CMake
*/CMakeFiles/*
*/.cmake/*
*CMakeCache.txt

# example
step-26/*.vtk
step-51/*.vtk
